.notFound {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	text-align: center;
}
.title {
	margin-bottom: 30px;
}

.number {
	display: block;
	margin-bottom: 10px;

	font-size: 128px;
}

.info {
	font-size: 20px;
}
